@import '../../scss/mixin', '../../scss/variables';
.home {
  .intro {
    margin: 0 0 -3.9vw;
    @include max-screen(990px) {
      margin: 0 0 -5.8vw;
    }
  }
}
.ftco__services {
  padding-bottom: 0;
}
.ftco-section_grey {
  background-color: $grey;
}
.get-quote {
  .half_lg {
    padding: 4.8rem;
  }
}
.get-quote__left {
  background-color: $blue;
  color: $white;
  padding-left: 15px;
}
.get-quote__content {
  max-width: 510px;
  width: 100%;
}
.get-quote__right {
  padding-right: 15px;
}