@import '../../scss/mixin', '../../scss/variables';
.home {
  .intro {
    margin: 0 0 -3.9vw;
    @include max-screen(990px) {
      margin: 0 0 -5.8vw;
    }
  }
}
.ftco__services {
  padding-bottom: 0;
}
.ftco-section_grey {
  background-color: $grey;
}
.get-quote {
  align-items: stretch;
  .half_lg {
    padding: 4.8rem;
  }
}
.get-quote__left {
  background-color: $blue;
  color: $white;
  padding-left: 15px;
  @include flex($just: flex-end);
}
.get-quote__content {
  max-width: 510px;
  width: 100%;
  @include max-screen(990px) {
    max-width: 100%;
  }
  .section__title {
    margin-bottom: 4.8rem;
  }
  p {
    line-height: 28.8px;
    color: $white07;
    margin-bottom: 4.8rem;
  }
  .btn {
    padding: 16px 50px;
  }
}
.get-quote__right {
  padding-right: 15px;
}
.quote__list {
  li {
    @include flex($align: center);
    margin-bottom: 15px;
    color: $white07;
    font-size: 16px;
  }
  .svg-icon {
    color: $white;
    margin-right: 8px;
  }
}
.quote {
  .textarea {
    margin-bottom: 15px;
  }
  .form-control__holder {
    width: calc(50% - 3rem);
    margin-right: 3rem;
    @include max-screen(500px) {
      width: 100%;
      margin-right: 0;
    }
  }
}