@import './scss/reset';
html {
	font-size: 62.5%;

	@include max-screen(1024px) {
		font-size: 56.5%;
	}

	@include max-screen(800px) {
		font-size: 50.5%;
	}

	@include max-screen(640px) {
		font-size: 44.5%;
	}

	@include max-screen(550px) {
		font-size: 41.5%;
	}

	@include max-screen(440px) {
		font-size: 37.5%;
	}

	@include max-screen(400px) {
		font-size: 35.5%;
	}
}

body {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
