{
  "extends": "react-app",
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "object-curly-newline": "off",
    "linebreak-style": "off",
    "arrow-body-style": "off",
    "react/jsx-one-expression-per-line": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "arrow-parens": "error",
    "camelcase": "off",
    "react/state-in-constructor": "off"
  }
}
