@import '../../scss/mixin', '../../scss/variables';
.header {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  background-color: $white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  .container {
    @include flex($wrap: wrap, $just: space-between, $align: center);
  }
  @include max-screen(990px) {
    background-color: $dark;
  }
}
.header-nav {
  @include max-screen(990px) {
    width: 100%;
    visibility: 0;
    opacity: 0;
    max-height: 0vh;
    transition: opacity .3s, visibility .3s, max-height .3s;
    overflow-y: auto;
    &.show {
      max-height: 90vh;
      visibility: visible;
      opacity: 1;
    }
    .btn {
      width: 100%;
      border-radius: $rad-sm;
      text-align: left;
    }
  }
}
.nav-list {
  @include flex($wrap: wrap, $align: baseline);
  flex-grow: 1;
  @include max-screen(990px) {
    display: block;
  }
}

.main-link {
  margin-right: 10px;
  font-weight: $fow700;
  font-size: $fos-md20;
  text-transform: uppercase;
  color: $dark;
  @include max-screen(990px) {
    color: $white;
  }
}

.nav-list__link {
  color: $dark;
  transition: color .3s;
  font-size: $fos-sm;
  text-transform: uppercase;
  padding: 14px 20px;
  &.active {
    color: $blue;
    pointer-events: none;
  }
  @include min-screen(1024px) {
    &:hover {
      color: $blue;
    }
  }
  @include max-screen(990px) {
    color: $white;
    width: 100%;
  }
}

.svg-icon {
	width: 1em;
	height: 1em;
	display: block;
	fill: currentColor;
}