// @import-normalize;
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import "./scss/_reset.scss", "./scss/_mixin.scss", "./scss/_variables.scss";
html {
  font-size: 62.5%;

  @include max-screen(1024px) {
    font-size: 56.5%;
  }

  @include max-screen(800px) {
    font-size: 50.5%;
  }

  @include max-screen(640px) {
    font-size: 44.5%;
  }

  @include max-screen(550px) {
    font-size: 41.5%;
  }

  @include max-screen(440px) {
    font-size: 37.5%;
  }

  @include max-screen(400px) {
    font-size: 35.5%;
  }
}
:-moz-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::-moz-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::-webkit-input-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
:-ms-input-placeholder {
  color: #180f29;
  transition: color 0.3s;
}
::placeholder {
  color: #180f29;
  transition: color 0.3s;
}

:focus:-moz-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}
:focus::placeholder {
  color: transparent;
}

body {
  font-family: $font-primary;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  min-width: 320px;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.wrapper {
  @include flex($dir: column);
  min-height: 100vh;
}
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.container-fluid {
  padding: 0 15px;
}
.main {
  flex: 1 0;
}
.footer {
  flex: 0 0;
}
.parallax {
  background: linear-gradient(135deg, #2f89fc 0%, #55fbc2 100%);
  padding: 6.4rem 0;
}
.title {
  line-height: 1.2;
  font-weight: 400;
}
.title_blue {
  color: $blue;
}

.title_large {
  font-size: $fos-lg32;
}
.title_md {
  font-size: $fos-md20;
}
.title_white {
  color: $white;
}
.text_center {
  text-align: center;
}
.text__md {
  line-height: 1.5;
  font-size: $fos-md16;
}
.ftco-section {
  padding: 11.2rem 0;
}
.cards {
  @include flex($wrap: wrap, $align: flex-start);
}
.cards_stretch {
  align-items: stretch;
}
.half_lg {
  width: 50%;
  @include max-screen(990px) {
    width: 100%;
  }
}
.item_quoter {
  width: 25%;
  @include max-screen(990px) {
    width: 50%;
  }
  @include max-screen(440px) {
    width: 100%;
  }
}